<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wk.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5067ac36de3023a786eae09ec1007303" />

        <activity android:name=".ui.WebActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.CameraActivity">

        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.JvBaoActivity" />
        <activity android:name=".ui.SHDetailActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.OrderDetailActivitys" />
        <activity android:name=".ui.RegUserActivity" />
        <activity android:name=".ui.CheckUserActivity" />
        <activity android:name=".ui.DaoHangActivity" />
        <activity android:name=".ui.CityActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.UserCenterActivity" />
        <activity android:name=".ui.OrderDetailActivity" />
        <activity android:name=".ui.OrderMapActivity" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.AcountCenterActivity" />
        <activity android:name=".ui.HistoryActivity" />
        <activity android:name=".ui.ShopInfoActivity" />
        <activity android:name=".ui.MenuManageActivity" />
        <activity android:name=".ui.MenuTypeActivity" />
        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".service.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.UpdataBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>